<div class="tableFixHead">
    <table id="myTable" class="table table-dark table-hover">
      <thead>
        <tr><th>Nom demandeur</th><th>Nom de la tache</th><th>Intervenant</th><th>Statut</th><th>resolu</th><th>Supprimer</th></tr>
      </thead>
      <tbody>
        <tr id="1"><td>Lucius Grégore</td><td id="text">Recupere le tournevise</td><td>Jean Frédérique</td><td>terminer</td><td><button onclick="myFunction(id)" id="1" type="button" class="btn btn-info"><i class="bi-check-circle" ></i></button></td><td><button type="button" class="btn btn-danger">  <i class="bi-trash" ></i></button>
        </td>
        <tr id="2"><td>François</td><td>Recupere le casque</td><td>Albert Franck</td><td>terminer</td><td><button onclick="myFunction(id)" id="2" type="button" class="btn btn-info"><i class="bi-check-circle" ></i></button></td><td><button type="button" class="btn btn-danger">  <i class="bi-trash" ></i></button>
        </td>

      </tbody>
    </table>
  </div>